@import "tailwindcss";

html,
body {
    min-height: 100%;
    background: linear-gradient(to bottom right, #0B0C10, #1a1a1a, #2A0A14);
    background-attachment: fixed;

}
#root {
    min-height: 100vh;
}

.akatsuki-cloud {
    position: absolute;
    background-image: url("https://p1.hiclipart.com/preview/120/609/141/akatsuki-cloud-akatsuki-logo-png-clipart.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 180px;
    height: 120px;
}

.cloud-1 {
    top: 20%;
    left: -200px;
    animation: floatClouds 40s linear infinite;
}

.cloud-2 {
    top: 50%;
    left: -250px;
    animation: floatClouds 60s linear infinite;
    transform: scale(1.2);
}

.cloud-3 {
    top: 75%;
    left: -300px;
    animation: floatClouds 80s linear infinite;
    transform: scale(0.8);
}

@keyframes floatClouds {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(120vw);
    }
}