@import "tailwindcss";

html,
body {
    min-height: 100%;
    background: linear-gradient(to bottom right, #0B0C10, #1a1a1a, #2A0A14);
    background-attachment: fixed;

}
#root {
    min-height: 100vh;
}

